<div class="main">
  <mat-toolbar color="primary">
    <a class="logo" href="/">
      <img class="logo-img" src="./assets/images/logo.png">
    </a>
    <button mat-icon-button aria-label="侧边栏开关" (click)="drawer.toggle()">
      <mat-icon aria-label="侧边栏开关图标">menu</mat-icon>
    </button>
    <span class="toolbar-seprator"></span>
    <button mat-icon-button (click)="toggleFullscreen()">
      <mat-icon>{{isFullscreen? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>设置</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>个人信息</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>退出</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'" [mode]="(isHandset | async) ? 'over' : 'side'"
      [opened]="!(isHandset | async)">
      <app-navigation [nodes]="navigations"></app-navigation>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content class="sidenav-content">

      <div class="content">
        <h1>内容</h1>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <p>到底了</p>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
